@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Josefin+Sans:wght@700&display=swap');

:root{
    --normal-color: #C998A7;
    --poison-color: #9C68D7;
    --psychic-color: #A32A69;
    --rock-color:#967B70;
    --steel-color:#43BD94;
    --water-color:#86A9FA;
    --ice-color:#85D2F4;
    --ground-color:#A66E2F;
    --grass-color:#27CA50;
    --ghost-color:#90678F;
    --flying-color:#93B2C7;
    --fire-color:#FD4C59;
    --bug-color:#3B9950;
    --dark-color:#5A5979;
    --flying-color:#458A94;
    --electric-color:#f3f334;
    --fairy-color:#EA1369;
    --fighting-color:#EF6138;
    --dragon-color: #656d75;
}
/*************************Pokemon type classes*******************************/

.normal-type{
    background-image: linear-gradient(to top,rgb(177, 177, 177)0%,var(--normal-color)80%);
}
.poison-type{
    background-image: linear-gradient(to top,rgb(116, 76, 153)0%,var(--poison-color)80%);
}
.electric-type{
    background-image: linear-gradient(to top,rgb(231, 236, 156)0%,var(--electric-color)80%);
}
.psychic-type{
    background-image: linear-gradient(to top,rgb(217, 156, 236)0%,var(--psychic-color)80%);
}
.rock-type{
    background-image: linear-gradient(to top,rgb(164, 165, 152)0%,var(--rock-color)80%);
}
.steel-type{
    background-image: linear-gradient(to top,rgb(129, 133, 143)0%,var(--steel-color)80%);
}
.water-type{
    background-image: linear-gradient(to top,rgb(173, 233, 243)0%,var(--water-color)80%);
}
.ice-type{
    background-image: linear-gradient(to top,rgb(246, 251, 255)0%,var(--ice-color)80%);
}
.ground-type{
    background-image: linear-gradient(to top,rgb(236, 195, 156)0%,var(--ground-color)80%);
}
.grass-type{
    background-image: linear-gradient(to top,rgb(168, 221, 171)0%,var(--grass-color)80%);
}
.ghost-type{
    background-image: linear-gradient(to top,rgb(105, 115, 143)0%,var(--ghost-color)80%);
}
.flying-type{
    background-image: linear-gradient(to top,rgb(177, 188, 219)0%,var(--flying-color)80%);
}
.fire-type{
    background-image: linear-gradient(to top,rgb(238, 149, 114)0%,var(--fire-color)80%);
}
.bug-type{
    background-image: linear-gradient(to top,rgb(105, 143, 111)0%,var(--bug-color)80%);
}
.dark-type{
    background-image: linear-gradient(to top,rgb(226, 236, 169)0%,var(--dark-color)80%);
}
.fairy-type{
    background-image: linear-gradient(to top,rgb(244, 217, 247)0%,var(--fairy-color)80%);
}
.ghost-type{
    background-image: linear-gradient(to top,rgb(105, 115, 143)0%,var(--ghost-color)80%);
}
.fighting-type{
    background-image: linear-gradient(to top,rgb(160, 120, 83)0%,var(--fighting-color)80%);
}
.dragon-type{
    background-image: linear-gradient(to top,rgb(236, 72, 22)0%,var(--dragon-color)80%);
}
/****************************************************************************/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Hammersmith One', sans-serif;
}

/* **********************Navigation***************************/
nav{
    background-color:#3B4CCA;
    height: 60px;
    display:flex;
    flex-direction: row;
    
}
nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    width: 90%;
    height: 100%;
    flex-wrap: nowrap;
    -webkit-appearance: none;
}

.dropdown{
    width:40px;
    height: 40px;
    background-color: white;
    border: 3px #FFDE00 solid;
    border-radius: 50%;
    justify-self: flex-start;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
}

.dropdown img{
    margin: auto;
    width:100%;
    transition: all 0.3s ease-in-out;
}

.dropdown img:hover{
    transform: scale(1.25);
}

.dropdown-content{
    margin:10px auto;
}

.categoryPokemon{
    width: 40px;

}
.categoryPokemon img:hover{
    transform: scale(1.25);
}
.categoryItems{
    width: 40px;
}
.categoryItems img:hover{
    transform: scale(1.25);
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.dropdown:hover{
    height:100px;
    border-radius: 25px;
}


#search{
    width: 600px;
    display: flex;
    flex-direction:row;
    justify-self: flex-start;
    vertical-align: middle;

}
.searchBox{
    height: 40px;
    width: 400px;
    border: 3px #FFDE00 solid;
    border-radius:20px;
    font-size:30px;
    padding: 0 15px;
    margin: 8px;
}

.searchBtn{
    height: 42px;
    width: 80px;
    border: 3px #FFDE00 solid;
    border-radius: 21px;
    font-size:20px;
    text-align: center;
    background: none;
    color:#FFDE00;
    position: relative;
    top: 9px;
    transition: all .2s ease-in-out;
}

.searchBtn:hover{
    background-color: #FFDE00;
    transform: scale(1.1);
    color: #3B4CCA;

}

#navLinks{
    width: 60px;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 36px;
    align-items: center;
}


#navLinks a{
    list-style: none;
    text-decoration: none;
    color:#FFDE00;
    width: 50px;
}

.cartCount{
    font-size: 18px;
    color:#3B4CCA;
    position: relative;
    left: -31px;
    top:-8px;
}

/****************************Iems/Content************************************/
.container{
    width: 90%;
    margin: auto;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fill, 345px);
    justify-content: space-evenly;
    margin-top: 30px;
}

.card{
    text-align: center;
    max-height: 420px;
    min-height:360px;
    width:300px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding:20px;
    border:rgb(235, 238, 241) 1px solid;
    transition: all 0.1s ease-in-out;
}

.card:hover{
    border: #3B4CCA 1px solid;
    transform: scale(1.05);
}

.namePlate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    padding: 3px;
    margin: 3px 20px;
    letter-spacing: 3px;
}
.idPlate{
    font-size:12px;
    letter-spacing:1px;

}
.card img{
    width: 180px;
    margin: 0px auto;
    border-radius: 50%;
    padding:20px;
    overflow:visible;
}
.info{
    height:200px
}
.price{
    color:#3B4CCA;
    font-size: 24px;
    margin: 10px;
}

.types li{
    list-style: none;
    margin: 10px;
    line-height: 6px;
}

.addToCartBtn{
    width: 130px;
    height: 40px;
    margin: 10px auto;
    border:none;
    color:#FFDE00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size:18px;
    background-color: #3B4CCA;
    border-radius:20px;
    transition: all .2s ease-in-out;
}

.addToCartBtn:hover{
    transform: scale(1.1);
}

img.itemSprite{
    width: 100px;
    margin: 10px auto;
}

.flavorText{
    width: 80%;
    margin: auto;
    font-size: 12px;;
}

.itemInfo{
    height: 100px;
}

.itemCard{
    height: 400px;
    width: 250px;
}